/* Styling */

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

h1{
    font-size: 100px;
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -10px -11px 10px white;
    color: darkturquoise;
    font-family: 'Rubik Mono One', cursive;
  
}